.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
  text-align: left;
  border: 1px solid #ddd;
  overflow: auto;

  .header {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ddd;
  }

  .row {
    &:nth-child(even) {
      background-color: #f9f9f9;
    }
  }

  .cell {
    padding: 10px;
    border: 1px solid #ddd;
  }

  thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}